@use "sass:color" as color;
@use "sass:math" as math;
@import "bootstrap/scss/bootstrap";

$purple-600: #6f42c1 !default;
$purple-700: #5a339e !default;

.custom-button {
  border-radius: 5px 40px 5px 40px;
  padding: 5px 20px;
}

.custom-purple-button {
  background-color: $purple-600;
  color: white;
  padding: 10px 35px;

  &:hover {
    background-color: $purple-700;
  }
}

.custom-toggler {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px 40px;
  background-color: transparent;
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar-toggler-icon {
    width: 30px;
  }
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  transition: all 0.3s ease;
  z-index: 1000;
  visibility: hidden;
  will-change: left, visibility;

  &.show {
    left: 0;
    visibility: visible;
  }
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  color: transparent;

  .custom-close-icon {
    font-size: 40px;
    color: black;
  }

  &::after {
    content: none;
  }
}

.menu-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;

  .nav-item {
    margin: 10px 0;
  }

  .nav-link {
    &.active {
      font-weight: bold;
      color: black;
    }

    &:hover {
      color: black;
    }
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: flex-start;

    .nav-item {
      margin: 15px 0;
    }
  }
}